@model ListAndUserVm
@using PagedList.Mvc
@using X.PagedList.Mvc.Core
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Searches";
}

<h2>Searches</h2>




<table class="table">
    @foreach (var item in Model.List)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SearchDate)
            </td>
            <td>
                @Html.Raw(item.IsLeapShort())
            </td>
            @if(item.UserNumber!=null && item.UserName!=null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNumber)
                </td>
            }
            <td>
                @if (Model.UserNumber != null && Model.UserNumber == item.UserNumber)
                {
                    <form asp-controller="Search" asp-action="RemoveSearch" method="post">
                        <input type="hidden" name="searchId" value="@item.SearchId" />
                    <button type="submit">Delete</button>
                </form>
                }
            </td>
        </tr>
    }

</table>
<br />

<div>
    Page @(Model.List.PageNumber) of @(Model.List.PageCount)
    @if (Model.List.HasPreviousPage)
    {
        <a asp-controller="Search" asp-action="IndexList" asp-route-page="@(Model.List.PageNumber - 1)">Previous</a>
    }
    @if (Model.List.HasNextPage)
    {
        <a asp-controller="Search" asp-action="IndexList" asp-route-page="@(Model.List.PageNumber + 1)">Next</a>
    }
</div>